<style>

    .homeButton {
        text-align: center;
    }

    button {
        outline: none;
        height: 35px;
        text-align: center;
        width: 150px;
        border-radius: 40px;
        background: #fff;
        border: 2px solid #1ECD97;
        color: #1ECD97;
        letter-spacing: 1px;
        font-style: normal;
    }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curriculum Coming Soon</title>
</head>
<body>

<br>
<br>
<br>
<br>
<br>

<h1 align="center">Coming Soon...</h1>
<h1 align="center">Curriculum for the Academic Program selected is not available at the moment</h1>
<br>
<form action="../home">
    <div class="homeButton">
        <button id="homeButton">Home</button>
    </div>
</form>

</body>
</html>