<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
table.GeneratedTable {
  width: 50%;
  background-color: #ffffff;
border-collapse: separate;
  border-width: 2px;
  border-color: #37b82e;
  border-style: solid;
  color: #0f0b0b;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #37b82e;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #329f53;
}
</style>

<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
<table class="GeneratedTable">
    <form method="POST">
    <h1>Enrolled Courses</h1>
  <thead>
    <tr>
      <th><label for="CCname"> Course Code </label></th>
      <th><label for="CNname"> Course Name </label></th>
      <th><label for="Cname"> Course Credits </label></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" id="CCname1" name="CCname"></td>
      <td><input type="text" id="CNname1" name="CCname"></td>
      <td><input type="text" id="CCname" name="CCname"></td>
    </tr>
    <tr>
      <td><input type="text" id="CCname2" name="CCname"></td>
      <td><input type="text" id="CNname2" name="CCname"></td>
      <td><input type="text" id="Cname2" name="CCname"></td>
    </tr>
    <tr>
      <td><input type="text" id="CCname3" name="CCname"></td>
      <td><input type="text" id="CNname3" name="CCname"></td>
      <td><input type="text" id="Cname3" name="CCname"></td>
    </tr>
    <tr>
      <td><input type="text" id="CCname4" name="CCname"></td>
      <td><input type="text" id="CNname4" name="CCname"></td>
      <td><input type="text" id="Cname" name="CCname"></td>
    </tr>
    <tr>
      <td><input type="text" id="CCname5" name="CCname"></td>
      <td><input type="text" id="CNname5" name="CCname"></td>
      <td><input type="text" id="Cname5" name="CCname"></td>
    </tr>
    <tr>
      <td><input type="text" id="CCname6" name="CCname"></td>
      <td><input type="text" id="CNname6" name="CCname"></td>
      <td><input type="text" id="Cname6" name="CCname"></td>
    </tr>
    <tr>
      <td><input type="text" id="CCname7" name="CCname"></td>
      <td><input type="text" id="CNname7" name="CCname"></td>
      <td><input type="text" id="Cname7" name="CCname"></td>
    </tr>
    <tr>
      <td><input type="text" id="CCname8" name="CCname"></td>
      <td><input type="text" id="CNname8" name="CCname"></td>
      <td><input type="text" id="Cname8" name="CCname"></td>
    </tr>
  <input type="submit" value="Submit">
</form>

<p>Click on the submit button to submit the Classes.</p>

  </tbody>
</table>


