<!DOCTYPE html>
<html lang="en">
<head>

    <style>

        .submitButton {
            text-align: center;
        }

        button {
            outline: none;
            height: 35px;
            text-align: center;
            width: 150px;
            border-radius: 40px;
            background: #fff;
            border: 2px solid #1ECD97;
            color: #1ECD97;
            letter-spacing: 1px;
            font-style: normal;
        }

        #courses {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 75%;
        }

        #courses td, #courses th {
            border: 2px solid #ddd;
            padding: 6px;
        }

        #courses th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: center;
            background-color: #4caf50;
            color: white;
        }
        .center {
            alignment: center;
            text-align: center;
        }
    </style>

    <meta charset="UTF-8">
    <title>Curriculum</title>
</head>
<body>

<!-- -----------------------------------------------FIRST YEAR TABLE----------------------------------------------- -->
<form method="post">
    {% csrf_token %}
    <table class= center id="courses" align="center">
        <caption><H2>Software Engineering Curriculum</H2></caption>
        <caption><h3>First Year</h3></caption>

        <colgroup span="2" style="alignment: center"></colgroup>
        <tr>
            <th colspan="4">First Semester</th>
            <th colspan="4">Second Semester</th>
        </tr>

        <colgroup span="8"></colgroup>
        <tr>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
        </tr>

        <tbody>
        <tr>
            <td>MATE 3031</td>
            <td>Calculus 1</td>
            <td>4</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>MATE 3032</td>
            <td>Calculus 2</td>
            <td>4</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>QUIM 3131</td>
            <td>General Chemistry 1</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>QUIM 3132</td>
            <td>General Chemistry 2</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>QUIM 3133</td>
            <td>Lab of General Chemistry 1</td>
            <td>1</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>QUIM 3134</td>
            <td>Lab of General Chemistry 2</td>
            <td>1</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>INGL 3___</td>
            <td>First Year English</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>INGL 3___</td>
            <td>First Year English</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>ESPA 3101</td>
            <td>Basic Spanish 1</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>ESPA 3102</td>
            <td>Basic Spanish 2</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>CIIC 3011</td>
            <td>Introduction to Computer Programming</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC 4010</td>
            <td>Advanced Programming</td>
            <td>4</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        </tbody>

    </table>

    <!-- -----------------------------------------------SECOND YEAR TABLE----------------------------------------------- -->

    <table class= center id="courses" align="center">
        <caption><h3>Second Year</h3></caption>

        <colgroup span="2" style="alignment: center"></colgroup>
        <tr>
            <th colspan="4">First Semester</th>
            <th colspan="4">Second Semester</th>
        </tr>

        <colgroup span="8"></colgroup>
        <tr>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
        </tr>

        <tbody>
        <tr>
            <td>MATE 3063</td>
            <td>Calculus 3</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC 4020</td>
            <td>Data Structures</td>
            <td>4</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>FISI 3171</td>
            <td>Physics 1</td>
            <td>4</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>FISI 3172</td>
            <td>Physics 2</td>
            <td>4</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>FISI 3173</td>
            <td>Lab of Physics 1</td>
            <td>1</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>FISI 3174</td>
            <td>Lab of Physics 2</td>
            <td>1</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>INGE 3011</td>
            <td>Engineering Graphics</td>
            <td>2</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>INEL 3105</td>
            <td>Electrical Systems Analysis 1</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>CIIC 3075</td>
            <td>Foundations of Computing</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>INEL 4115</td>
            <td>Lab of Electrical Measurements</td>
            <td>1</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>INGL 3___</td>
            <td>Second Year English</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>INGL 3___</td>
            <td>Second Year English</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        </tbody>

    </table>

    <!-- -----------------------------------------------THIRD YEAR TABLE----------------------------------------------- -->

    <table class= center id="courses" align="center">
        <caption><h3>Third Year</h3></caption>

        <colgroup span="2" style="alignment: center"></colgroup>
        <tr>
            <th colspan="4">First Semester</th>
            <th colspan="4">Second Semester</th>
        </tr>

        <colgroup span="8"></colgroup>
        <tr>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
        </tr>

        <tbody>
        <tr>
            <td>INSO 4101</td>
            <td>Introduction to Software Engineering</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC 4025</td>
            <td>Algorithm Design and Analysis</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>CIIC 3081</td>
            <td>Computer Architecture</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC 4082</td>
            <td>Computer Architecture 2</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>MATE 4145</td>
            <td>Linear Algebra and Differential Equations</td>
            <td>4</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>INSO 4115</td>
            <td>Software Requirements</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>INGE 3035</td>
            <td>Engineering Mechanics</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>ININ 4010</td>
            <td>Engineering Probability and Statistics</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Sociohumanistic Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td></td>
            <td>Sociohumanistic Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        </tbody>

    </table>

    <!-- -----------------------------------------------FOURTH YEAR TABLE----------------------------------------------- -->

    <table class= center id="courses" align="center">
        <caption><h3>Fourth Year</h3></caption>

        <colgroup span="2" style="alignment: center"></colgroup>
        <tr>
            <th colspan="4">First Semester</th>
            <th colspan="4">Second Semester</th>
        </tr>

        <colgroup span="8"></colgroup>
        <tr>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
        </tr>

        <tbody>
        <tr>
            <td>CIIC 4050</td>
            <td>Operating Systems</td>
            <td>4</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC 4060</td>
            <td>Database Systems</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>CIIC 4030</td>
            <td>Programming Languages</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC 4070</td>
            <td>Computer Networks</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>CIIC 4116</td>
            <td>Software Design</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC 4117</td>
            <td>Software Testing</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>ININ 4015</td>
            <td>Engineering Economic Analysis</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>INME 4045</td>
            <td>Thermodynamics</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Sociohumanistic Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td></td>
            <td>Sociohumanistic Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        </tbody>

    </table>

    <!-- -----------------------------------------------FIFTH YEAR TABLE----------------------------------------------- -->

    <table class= center id="courses" align="center">
        <caption><h3>Fifth Year</h3></caption>

        <colgroup span="2" style="alignment: center"></colgroup>
        <tr>
            <th colspan="4">First Semester</th>
            <th colspan="4">Second Semester</th>
        </tr>

        <colgroup span="8"></colgroup>
        <tr>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
            <th>Course Code</th>
            <th width="24%">Course Title</th>
            <th>Course Credits</th>
            <th>Course Grade</th>
        </tr>

        <tbody>
        <tr>
            <td>INSO 4151</td>
            <td>Software Engineering Project</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC/INSO</td>
            <td>Technical Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>INGE 3045</td>
            <td>Engineering Materials</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>CIIC/INSO</td>
            <td>Technical Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Free Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td></td>
            <td>Free Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Free Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td></td>
            <td>Free Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>EDFI ____</td>
            <td>Physical Education Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td>EDFI ____</td>
            <td>Physical Education Elective</td>
            <td>3</td>
            <td>
                <select>
                    <option value=""></option>
                    <option disabled value="--">--</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </td>
        </tr>
        </tbody>

    </table>

    <br>


    <div class="submitButton">
        <button id="submitButton" name="saveChanges" style="margin-right: 20px" onclick="return alert('Changes Saved Successfully!')">Save Changes</button>
        <button id="homeButton" name="homeButton" style="margin-right: 20px">Home</button>
        <button id="pdfSave" name="pdfSave">Save as PDF</button>
    </div>

    <br>

</form>
</body>
</html>