<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<table>
{% for x in data %}
    <tr>
        <td>{{x.student_user.username}}</td>
    </tr>
{% endfor %}
</table>
<form action= "" method= "POST">
    {% csrf_token %}
    <input type="submit" name="logout" value="Logout">



<label for="program">Select one:</label>

<select name="program" id="program">
    <option value="ICOM">ICOM</option>
    <option value="INEL">INEL</option>
    <option value="INSO">INSO</option>
    <option value="CIIC">CIIC</option>
</select>
    <input type="submit" value="Submit">

</form>

</body>
</html>